[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Q7"]
	path = Q7
	url = https://github.com/iqis/q7
[submodule "mod"]
	path = mod
	url = https://github.com/iqis/mod
